{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main %}
<section class="login-page">
    <h1>Connexion</h1>

    {% if app.user %}
        <div class="already-connected">
            Connecté en tant que {{ app.user.userIdentifier }},
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <form method="post" action="{{ path('app_login') }}">
        <label for="username">Email</label>
        <input
            type="email"
            name="_username"
            id="username"
            value="{{ last_username|default('') }}"
            autocomplete="email"
            required
            autofocus
        >

        <label for="password">Mot de passe</label>
        <input
            type="password"
            name="_password"
            id="password"
            autocomplete="current-password"
            required
        >

        <input
            type="hidden"
            name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn-cta" type="submit">Se connecter</button>
    </form>
</section>
{% endblock %}
